.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding: 10vh 0 25vh; */
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

.custom-pagination {
  width: unset !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50% !important;
  bottom: unset !important;
  left: -20px !important;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fc8019;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fc8019;
  background: #fff;
  border-radius: 999px;
  padding: 8px;
  position: static;
}
