@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif !important;
}

.radix-themes {
  font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.form-control:active,
.form-control:focus,
.form-control:focus-visible {
  border: 1px solid #fff;
  background-color: #252734;
  box-shadow: none;
  color: currentColor;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

#root {
  overflow-x: hidden;
}

.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding: 10vh 0 25vh; */
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

.custom-pagination {
  width: unset !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50% !important;
  bottom: unset !important;
  left: -20px !important;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fc8019;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fc8019;
  background: #fff;
  border-radius: 999px;
  padding: 8px;
  position: static;
}

.custom-toast {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
  border-radius: 5px !important;
  padding: 0.4rem 2rem 0.4rem 0.7rem !important;
  min-height: unset !important;
  min-width: unset !important;
  width: fit-content !important;
  display: inline-flex !important;
  color: #727272;
}

.custom-toast .Toastify__close-button {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.user-header:before,
.user-header:after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  position: fixed;
  top: 84px;
  left: 0;
  z-index: 0;
  border-top-left-radius: 30px;
}

.user-header:after {
  background: #fc8019;
  border-top-left-radius: 0;
  z-index: -8;
}

.user-header .clip-box:before,
.user-header .clip-box:after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  position: fixed;
  top: 84px;
  right: 0;
  z-index: -4;
  border-top-right-radius: 30px;
}

.user-header .clip-box:after {
  background: #fc8019;
  border-top-right-radius: 0;
  z-index: -8;
}

.user-header {
  position: relative;
  z-index: 10;
}

.fade-up {
  animation: fadeUp 0.4s ease both;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
